AI_API_KEY="YOUR GITHUB_PERSONAL_ACCESS_TOKEN"
AI_ENDPOINT=https://models.inference.ai.azure.com
AI_MODEL=gpt-4.1-mini
AI_EMBEDDING_MODEL=text-embedding-ada-002

NEO4J_URL="bolt://localhost:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="your_password"